@model IEnumerable<WebUI.Models.RequestsStoreViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statuses.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.Date)
        </td>
        <td>
            @Html.DisplayFor(model => item.Statuses.Name)
        </td>
        <td>
            @Html.DisplayFor(model => item.Comments)
        </td>
    </tr>
}

</table>
